<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neteye</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='notification.css') }}"> 
</head>

<header>
    <nav>
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/traffic">Traffic</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/settings">Settings</a></li>      
            </li>
            
            <div class="notification-box">
                <a id="notification-ref" href="/notifications">
                    <span id="bell-counter" class="notification-count">2</span>
                    <div class="notification-bell">
                        <span class="bell-top"></span>
                        <span class="bell-middle"></span>
                        <span class="bell-bottom"></span>
                        <span class="bell-rad"></span>
                    </div>
                </a>
            </div>
        </ul>
    </nav>
</header>

<body>
    {% block notification_popup %}
        {% include "notification_popup.html" %}
    {% endblock %}
    
    {% block content %}
        <h1>Base page</h1>
    {% endblock %}



    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>