{% extends "base.html" %}
{% block content %}

    <!-- Global Settings -->
    <h1>Global Settings</h1>
        <div id="global_settings_container">
            <label for="packet_capture_window">Packet Capture Window:</label>
            <select name="packet_capture_window" id="packet-capture-window">
                <option value="3">3 seconds</option>
                <option value="5">5 seconds</option>
                <option value="10">10 seconds</option>
                <option value="15">15 seconds</option>
                <option value="30">30 seconds</option>
                <option value="60">1 minute</option>
                <option value="300">5 minutes</option>
            </select><br><br>

            <label for="notification-update-interval">Notification Update Interval:</label>
            <select name="notification-update-interval" id="notification-update-interval">
                <option value="3">3 seconds</option>
                <option value="5">5 seconds</option>
                <option value="10">10 seconds</option>
                <option value="15">15 seconds</option>
                <option value="30">30 seconds</option>
                <option value="60">1 minute</option>
                <option value="300">5 minutes</option>
            </select><br><br>

            <label for="popup-notification-update-interval">Popup Notification Update Interval:</label>
            <select name="popup-notification-update-interval" id="popup-notification-update-interval">
                <option value="10">10 seconds</option>
                <option value="15">15 seconds</option>
                <option value="30">30 seconds</option>
                <option value="60">1 minute</option>
                <option value="300">5 minutes</option>
            </select><br><br>

            <label for="scan-interval">Scan Interval:</label>
            <select name="scan-interval" id="scan-interval">
                <option value="5">5 seconds</option>
                <option value="10">10 seconds</option>
                <option value="15">15 seconds</option>
                <option value="30">30 seconds</option>
                <option value="60">1 minute</option>
                <option value="120">2 minutes</option>
                <option value="180">3 minutes</option>
                <option value="300">5 minutes</option>
                <option value="600">10 minutes</option>
            </select><br><br>

            <label for="scan-whole-network-again-interval">Scan Whole Network Again Interval:</label>
            <select name="scan-whole-network-again-interval" id="scan-whole-network-again-interval">
                <option value="15">15 seconds</option>
                <option value="30">30 seconds</option>
                <option value="60">1 minute</option>
                <option value="120">2 minutes</option>
                <option value="180">3 minutes</option>
                <option value="300">5 minutes</option>
                <option value="600">10 minutes</option>
                <option value="1800">30 minutes</option>
                <option value="3600">1 hour</option>
            </select><br><br>

            <button type="submit">Save Global Settings</button>
        </div>


    <!-- Settings -->
    <h1>Settings</h1>
        <ul id="rules_container">
            <!-- Render existing rules -->
            {% for rule in rules_list %}
            <li class="rule_row" value="{{ rule.id }}">
                <input type="text" name="rule_name" placeholder="Rule Name (letters only)" value="{{ rule.name }}" required>
                <select name="rule_parameter" required>
                    <option value="">Select Parameter</option>
                    {% for parameter in parameters %}
                        <option value="{{ parameter[0] }}" {% if parameter[0] == rule.parameter %} selected {% endif %}>{{ parameter[1] }}</option>
                    {% endfor %}
                </select>
                <select name="rule_action" required>
                    <option value="">Select Action</option>
                    <option value="-2" {% if rule.action == -2 %} selected {% endif %}>&le;</option>
                    <option value="-1" {% if rule.action == -1 %} selected {% endif %}>&lt;</option>
                    <option value="0" {% if rule.action == 0 %} selected {% endif %}>=</option>
                    <option value="1" {% if rule.action == 1 %} selected {% endif %}>&gt;</option>
                    <option value="2" {% if rule.action == 2 %} selected {% endif %}>&ge;</option>
                </select>
                <input type="number" name="rule_amount" placeholder="Amount (positive number)" min="0" value="{{ rule.amount }}" required>
                <input type="text" name="rule_target" placeholder="Target (numbers and periods)" value="{{ rule.target }}" required>
                <button type="button" class="delete_rule_button" data-rule-name="{{ rule.name }}">X</button>
            </li>
            {% endfor %}
        </ul>
        <button type="button" id="add_rule_button">Add Rule</button>


    <!-- Emails -->
    <h1>Emails</h1>
        <ul id="emails_container">
            {% for email in emails %}
            <li class="email_row" value="{{ email[0] }}">
                <input type="text" name="email_name" placeholder="Name (letters only)" value="{{ email[2] }}" required>
                <input type="text" name="email_address" placeholder="Email Address (letters only)" value="{{ email[1] }}" required>
                <button type="button" class="delete_email_button" data-email-address="{{ email[1] }}">X</button>
            </li>
            {% endfor %}
        </ul>
        <button type="button" id="add_email_button">Add Email</button>

    <script>
        document.getElementById('add_rule_button').addEventListener('click', function() {
            // Clone the rule row template
            var ruleRow = document.querySelector('.rule_row').cloneNode(true);
            // Clear input values
            ruleRow.querySelectorAll('input, select').forEach(function(input) {
                input.value = '';
            });
            // Append cloned rule row to the rules container
            document.getElementById('rules_container').appendChild(ruleRow);
            // Show the save button when adding a rule
            document.getElementById('save_button').style.display = 'block';
        });

        document.querySelectorAll('.delete_rule_button').forEach(function(button) {
            button.addEventListener('click', function() {
                var ruleName = this.getAttribute('data-rule-name');
                // Call the delete_rule function with the rule name
                fetch('/delete_rule/' + encodeURIComponent(ruleName), { method: 'POST' })
                    .then(response => {
                        if (response.ok) {
                            // Remove the rule row from the UI
                            this.parentNode.remove();
                        } else {
                            console.error('Error deleting rule');
                        }
                    })
                    .catch(error => {
                        console.error('Error deleting rule:', error);
                    });
            });
        });

        document.getElementById('add_email_button').addEventListener('click', function() {
            // Clone the email row template
            var emailRow = document.querySelector('.email_row').cloneNode(true);
            // Clear input values
            emailRow.querySelectorAll('input, select').forEach(function(input) {
                input.value = '';
            });
            // Append cloned email row to the emails container
            document.getElementById('emails_container').appendChild(emailRow);
            // Show the save button when adding a email
            document.getElementById('save_button').style.display = 'block';
        });

        document.querySelectorAll('.delete_email_button').forEach(function(button) {
            button.addEventListener('click', function() {
                var emailAddress = this.getAttribute('data-email-address');
                // Call the delete_email function with the email address
                fetch('/delete_email/' + encodeURIComponent(emailAddress), { method: 'POST' })
                    .then(response => {
                        if (response.ok) {
                            // Remove the rule row from the UI
                            this.parentNode.remove();
                        } else {
                            console.error('Error deleting email');
                        }
                    })
                    .catch(error => {
                        console.error('Error deleting email:', error);
                    });
            });
        });

    </script>
{% endblock %}
